.navLink{
  background-color: #222629!important;
  border-color: #86C232!important;
  color: #86C232!important;
}

.navLink:hover{
  background-color: #61892F!important;
  border-color: whitesmoke!important;
  color: whitesmoke!important;
}

.buttonGreen{
  background-color:#86C232!important;
  border:none!important;
  color: whitesmoke;
}

.buttonGreen:hover{
  background-color: #6B6E70!important;
}

.bgDarkGreen{
  background-color: #61892F!important;
  color: whitesmoke;
}




/* ======================== */


.bgBlack{
  background-color: #222629!important;

}
.borderGreen{
  border-color: #86C232!important;
}

.borderBlack{
  border-color: #222629!important;
}

.bgGreen{
  background-color: #86C232!important;
}


.textWhitesmoke{
  color: whitesmoke;
}

.bgDarkGray{
  background-color: #474B4F!important;
}

.bgGray{
  background-color: #6B6E70!important;
}


.textBlack{
  color:#222629!important;
}

.textGreen{
  color: #86C232!important;
}

.borderColorNone{
  border:none!important;
}
